language: go
go:
  - 1.2

install:
  - go get -t -v ./...
  - mkdir -p $HOME/gopath/bin
  - go install -v github.com/onsi/ginkgo/ginkgo
  - git clone https://github.com/coreos/etcd ../../coreos/etcd
  - pushd ../../coreos/etcd
  - ./build
  - mv ./bin/etcd $HOME/gopath/bin
  - popd
  - mkdir -p $HOME/bin
  - pushd $HOME/bin
  - curl -C - http://apache.osuosl.org/zookeeper/zookeeper-3.4.5/zookeeper-3.4.5.tar.gz | tar -zx
  - mv $HOME/bin/zookeeper-3.4.5 $HOME/bin/zookeeper
  - chmod a+x $HOME/bin/zookeeper/bin/zkServer.sh
  - popd

script:
  - export PATH=$HOME/bin/zookeeper/bin:$HOME/gopath/bin:$PATH 
  - ginkgo -r -i --randomizeAllSpecs --failOnPending
